.navbar-dark .navbar-nav .nav-link {
  color: white;
}

a:link {
  color: cyan;
}

a:visited {
  color: darkviolet;
}

.text-center {
  padding-bottom: 45px;
}

/* Need !important to override the Boostrap */

.text-info {
  color: #0d6efd !important;
}

.form-check-input {
  border: 1px solid white !important;
}
