.navbar-dark .navbar-nav .nav-link {
  color: white;
}

a:link {
  color: cyan;
}

a:visited {
  color: darkviolet;
}

.text-center {
  padding-bottom: 45px;
}

.text-info {
  color: #0d6efd !important;
  /* Need !import to over-ride the Boostrap */
}

.form-check-input {
  border: 1px solid white !important;
}
