.navbar {
  z-index: 101;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

a:link {
  color: cyan;
}

a:visited {
  color: darkviolet;
}

.text-center {
  padding-bottom: 45px;
}

.tooltip {
  z-index: 100;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Default for medium & large viewports */
#links {
  display: flex;
  flex-wrap: wrap;
}

/* Media query for small viewports */
@media (max-width: 576px) {
  #links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px 5px;
    justify-items: center;
    align-items: center;
  }
}

/* Need !important to override the Boostrap */
.text-info {
  color: #0d6efd !important;
}

.form-check-input {
  border: 1px solid white !important;
}
